In [811]:
# این کتابخانه برای کار با داده‌های توابع جدولی و عملیات مرتبط با آنها استفاده می‌شود.
import pandas as pd
# برای انجام عملیات عددی پیشرفته و کار با آرایه‌ها و سری‌های عددی استفاده می‌شود.
import numpy as np

# Importing Dataset

In [812]:
# تابع read_csv() از کتابخانه پانداس صدا میزنیم تا فایل مشخص شده را در یک شی دیتافریم با نام دی اف ذخیره کنیم
df = pd.read_csv(r'F:\UNIVERCITY\Term 6\Rice_Cammeo_Osmancik.csv')

# Preprocessing

EDA

In [813]:
df.head(10)

,Area,Perimeter,Major_Axis_Length,Minor_Axis_Length,Eccentricity,Convex_Area,Extent,Class
0,7551,369.063995,163.408829,59.53240585,0.931275,7723,0.756462,Osmancik
1,8546,388.580994,172.519959,63.34475327,0.930152,8685,0.735456,Osmancik
2,7833,373.157013,162.516434,63.56500244,0.920336,8015,0.769752,Osmancik
3,9292,414.118988,183.639710,64.87107086,0.935528,9442,0.501078,Osmancik
4,7943,362.673004,154.886322,65.93088531,0.904877,8080,0.608659,Osmancik
5,9414,407.825012,179.545883,66.91815948,0.927949,9583,0.810434,Osmancik
6,9908,432.769012,188.187683,67.69534302,0.933059,10205,0.611680,Cammeo
7,8709,383.527008,164.193893,67.93288422,0.910397,8873,0.767989,Osmancik
8,9426,402.709992,175.974289,68.60753632,0.920869,9578,0.577432,Osmancik
9,9273,406.402008,173.414093,68.80253601,0.917925,9445,0.530098,Osmancik

In [814]:
df.tail(10)

,Area,Perimeter,Major_Axis_Length,Minor_Axis_Length,Eccentricity,Convex_Area,Extent,Class
3817,9751,412.597992,175.450638,71.44275665,0.913341,10034,0.714359,Osmancik
3818,9802,412.368988,176.165573,71.48280334,0.913975,9991,0.566950,Osmancik
3819,8501,371.024994,153.896255,71.51190948,0.885481,8738,0.639846,Osmancik
3820,8850,381.433990,159.251205,71.76094818,0.892718,9063,0.572519,Osmancik
3821,10713,443.403992,192.886185,71.78689575,0.928164,10969,0.696101,Osmancik
3822,10151,420.899994,181.995575,72.09951019,0.918181,10407,0.521634,Osmancik
3823,10222,423.497009,182.800247,72.1242981,0.918873,10421,0.820385,Osmancik
3824,9216,384.342011,163.291626,72.26079559,0.896756,9352,0.624771,Osmancik
3825,11377,452.407989,201.306259,72.28141785,0.933314,11555,0.525545,Cammeo
3826,9598,397.000000,172.006790,72.28364563,0.907414,9766,0.796845,Osmancik

In [815]:
df.dtypes

Area                  object
Perimeter            float64
Major_Axis_Length    float64
Minor_Axis_Length     object
Eccentricity         float64
Convex_Area           object
Extent               float64
Class                 object
dtype: object

In [816]:
df.columns

Index(['Area', 'Perimeter', 'Major_Axis_Length', 'Minor_Axis_Length',
       'Eccentricity', 'Convex_Area', 'Extent', 'Class'],
      dtype='object')

In [817]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3827 entries, 0 to 3826
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area               3826 non-null   object
 1   Perimeter          3827 non-null   float64
 2   Major_Axis_Length  3824 non-null   float64
 3   Minor_Axis_Length  3827 non-null   object
 4   Eccentricity       3827 non-null   float64
 5   Convex_Area        3825 non-null   object
 6   Extent             3826 non-null   float64
 7   Class              3827 non-null   object
dtypes: float64(4), object(4)
memory usage: 239.3+ KB

In [818]:
len(df.columns)

8

In [819]:
len(df)

3827

In [820]:
df.shape

(3827, 8)

In [821]:
# در این خط، یک لیست با نام columns_to_convert ایجاد می‌کنیم و سه ستون به آن اختصاص میدهیم
# این ستون ها برای تبدیل به نوع عددی استفاده خواهند شد

columns_to_convert = ['Area', 'Minor_Axis_Length', 'Convex_Area']

#در این خط، از تابع apply() بر روی  دیتا فریم استفاده میکنیم تا تابع
# pd.to_numeric() را بر روی ستون‌های مشخص شده اجرا کنیم
# این تابع به هر سلول در ستون‌ها تلاش می‌کند تا آن را به نوع عددی تبدیل کند
# در صورتی که تبدیل ممکن نباشد، مقدار سلول به NaN (Not a Number) تغییر خواهد کرد.
# پارامتر errors="coerce" نیز برای تبدیل خطاها به NaN استفاده می‌شود.
# برای تعیین رفتار تابع در مواجهه با خطاهای تبدیل استفاده می‌شود
# اگر در ستونی که قرار است تبدیل شود، مقدار "؟؟؟" وجود داشته باشد، این مقدار در حالت پیش‌فرض به خطا منجر می‌شود 
# اما الان به نان تبدیل میشود و فرایند ادامه می یابد
#  این رفتار معمولاً در مواقعی که می‌خواهیم داده‌های نامعتبر را به شکلی مشخص
# مشخص کنیم و عملیات دیگری بر روی داده‌ها انجام دهیم، مورد استفاده قرار می‌گیرد.

df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric,errors="coerce")

print(df.dtypes)

Area                 float64
Perimeter            float64
Major_Axis_Length    float64
Minor_Axis_Length    float64
Eccentricity         float64
Convex_Area          float64
Extent               float64
Class                 object
dtype: object

In [822]:
df.describe()
# df['Perimeter'].max()

,Area,Perimeter,Major_Axis_Length,Minor_Axis_Length,Eccentricity,Convex_Area,Extent
count,3825.000000,3827.000000,3824.000000,3826.000000,3827.000000,3823.000000,3826.000000
mean,12661.573333,454.152591,188.785339,86.268655,0.886980,12946.780539,0.661831
std,1736.593318,35.649046,17.456787,5.778079,0.020873,1781.151847,0.077329
min,7551.000000,359.100006,145.264465,59.532406,0.777233,7723.000000,0.497413
25%,11363.000000,425.957993,174.356701,82.687365,0.872473,11619.500000,0.598717
50%,12418.000000,448.839996,185.827438,86.414566,0.889198,12704.000000,0.645275
75%,13949.000000,483.656494,203.559433,90.131281,0.902759,14282.000000,0.726392
max,18913.000000,548.445984,239.010498,107.542450,0.948007,19099.000000,0.861050

Data Cleaning

In [823]:
# نمایش دیتافریم قبل از حذف داده‌های تکراری
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3822     True
3823     True
3824     True
3825     True
3826    False
Length: 3827, dtype: bool

In [824]:
# حذف داده‌های تکراری بر اساس تمام ستون‌ها
# نمایش دیتافریم پس از حذف داده‌های تکراری
df = df.drop_duplicates()
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3812    False
3813    False
3814    False
3815    False
3826    False
Length: 3811, dtype: bool

In [825]:

# یک دیتا فریم جدید با نام میسینگ رکوردز ایجاد میکنیم که شامل رکورد هایی است که حداقل یک ستون در آن ها مقدار گمشده دارد 
# برای شناسایی این رکورد ها از تابع ایز نال بر روی دیتا فریم استفاده میکنیم
#با استفاده از تابع انی و پارامتراکسیس مساوی 1 رکوردهایی که حداقل یک ستون در آن‌ها مقدارنان داشته باشد شناسایی میکند
# نتیجه، یک دیتافریم با رکوردهای شامل مقادیر گمشده است که در متغیرمیسینگ رکورد ذخیره می‌شود
# سپس با استفاده از تابع پرینت رکوردهای شامل مقادیر گمشده نمایش داده می‌شوند

# شناسایی رکوردهای شامل مقادیر گمشده
missing_records = df[df.isnull().any(axis=1)]

# نمایش رکوردهای شامل مقادیر گمشده
print(missing_records)

         Area   Perimeter  Major_Axis_Length  Minor_Axis_Length  Eccentricity  \
24        NaN  408.717011         175.733566          70.450180      0.916125
49     9598.0  397.000000         172.006790          72.283646      0.907414
170    9646.0  390.955994         162.013672          76.316422      0.882107
297   10128.0  403.725006         166.962952          78.247475      0.883383
377       NaN  445.739014         187.977097          79.080826      0.907203
395   11411.0  430.933990         184.309250          79.258125      0.902816
400    9822.0  398.334992                NaN          79.288460      0.869672
417   10561.0  417.933014         172.890717                NaN      0.887939
474   10811.0  420.231995                NaN          79.978386      0.888903
3432  11714.0  412.201996                NaN          93.225616      0.816083
3435  13218.0  454.997986         182.578400          93.237144      0.859777

      Convex_Area    Extent     Class
24         9779.0  0.516425  Osmancik
49            NaN  0.796845  Osmancik
170        9815.0       NaN  Osmancik
297           NaN  0.672242  Osmancik
377       11918.0  0.605429  Osmancik
395           NaN  0.647874    Cammeo
400       10085.0  0.631518  Osmancik
417       10804.0  0.647914  Osmancik
474       11027.0  0.683808  Osmancik
3432      11886.0  0.764322  Osmancik
3435          NaN  0.733315  Osmancik

In [826]:
#برای حذف ردیف هایی که شامل مقادیر گمشده هستند از تابع دراپ نا استفاده میشود
#این تابع هر ردیفی که حداقل یک مقدار گمشده دارد را حذف میکند
#دیتا فریم با مقادیر گمشده حذف شده در متغیر دی اف ذخیره میشود
df = df.dropna()

In [827]:
# نمایش دیتافریم پس از حذف مقادیر گمشده
print("دیتافریم پس از حذف مقادیر گمشده:\n", df)

دیتافریم پس از حذف مقادیر گمشده:
          Area   Perimeter  Major_Axis_Length  Minor_Axis_Length  Eccentricity  \
0      7551.0  369.063995         163.408829          59.532406      0.931275
1      8546.0  388.580994         172.519959          63.344753      0.930152
2      7833.0  373.157013         162.516434          63.565002      0.920336
3      9292.0  414.118988         183.639710          64.871071      0.935528
4      7943.0  362.673004         154.886322          65.930885      0.904877
...       ...         ...                ...                ...           ...
3812  18313.0  538.497986         222.464249         106.184746      0.878734
3813  17404.0  521.864990         211.063019         106.337822      0.863809
3814  18913.0  541.745972         227.135483         106.948357      0.882209
3815  17948.0  526.918030         214.093826         107.542450      0.864685
3826   9598.0  397.000000         172.006790          72.283646      0.907414

      Convex_Area    Extent     Class
0          7723.0  0.756462  Osmancik
1          8685.0  0.735456  Osmancik
2          8015.0  0.769752  Osmancik
3          9442.0  0.501078  Osmancik
4          8080.0  0.608659  Osmancik
...           ...       ...       ...
3812      18724.0  0.624420    Cammeo
3813      17739.0  0.684658    Cammeo
3814      19099.0  0.804124    Cammeo
3815      18322.0  0.666370    Cammeo
3826       9766.0  0.796845  Osmancik

[3800 rows x 8 columns]

In [828]:
#برای پیدا کردن و حذف مقادیر "؟؟؟" در دیتاست، باید از تابع‌های ریپلیس و دراپ استفاده کنیم
# ابتدا  مقادیر "؟؟؟" را با مقدار نان (مقدار گمشده) جایگزین و سپس رکوردهای شامل مقادیر نان را حذف میکنیم
#ابتدا با استفاده از تابع ریپلیس مقادیر "؟؟؟" را با مقدار نان جایگزین می‌کنیم
# این تابع برای جایگزینی مقادیر مشخصی با مقدار دلخواه استفاده می‌شود. 
#برای این منظور، از ان پی دات نان استفاده می‌کنیم که نمایانگر مقدار گمشده در پانداس است
#. با انتخاب اینپلیس مساوی ترو، تغییرات به‌صورت مستقیم در دیتافریم اعمال می‌شود
#سپس با استفاده از تابع دراپ نا رکوردهایی که حداقل یک ستون در آن‌ها نان دارد را حذف می‌کنیم.
#در نهایت، با استفاده از تابع پرینت دیتافریم پس از حذف مقادیر "؟؟؟" نمایش داده می‌شود.
# شناسایی رکوردهای شامل مقادیر "؟؟؟"
missing_records = df[df == "؟؟؟"].any(axis=1)

# چاپ رکوردهای شامل مقادیر "؟؟؟"
print("رکوردهای شامل مقادیر '؟؟؟':")
print(df[missing_records])

رکوردهای شامل مقادیر '؟؟؟':
Empty DataFrame
Columns: [Area, Perimeter, Major_Axis_Length, Minor_Axis_Length, Eccentricity, Convex_Area, Extent, Class]
Index: []

In [829]:

# جایگزینی مقادیر "؟؟؟" با NaN
df.replace("؟؟؟", np.nan, inplace=True)

# حذف رکوردهای شامل مقادیر NaN
df.dropna(inplace=True)

# نمایش دیتافریم پس از حذف مقادیر "؟؟؟"
print("دیتافریم پس از حذف مقادیر '؟؟؟':")
print(df)

دیتافریم پس از حذف مقادیر '؟؟؟':
         Area   Perimeter  Major_Axis_Length  Minor_Axis_Length  Eccentricity  \
0      7551.0  369.063995         163.408829          59.532406      0.931275
1      8546.0  388.580994         172.519959          63.344753      0.930152
2      7833.0  373.157013         162.516434          63.565002      0.920336
3      9292.0  414.118988         183.639710          64.871071      0.935528
4      7943.0  362.673004         154.886322          65.930885      0.904877
...       ...         ...                ...                ...           ...
3812  18313.0  538.497986         222.464249         106.184746      0.878734
3813  17404.0  521.864990         211.063019         106.337822      0.863809
3814  18913.0  541.745972         227.135483         106.948357      0.882209
3815  17948.0  526.918030         214.093826         107.542450      0.864685
3826   9598.0  397.000000         172.006790          72.283646      0.907414

      Convex_Area    Extent     Class
0          7723.0  0.756462  Osmancik
1          8685.0  0.735456  Osmancik
2          8015.0  0.769752  Osmancik
3          9442.0  0.501078  Osmancik
4          8080.0  0.608659  Osmancik
...           ...       ...       ...
3812      18724.0  0.624420    Cammeo
3813      17739.0  0.684658    Cammeo
3814      19099.0  0.804124    Cammeo
3815      18322.0  0.666370    Cammeo
3826       9766.0  0.796845  Osmancik

[3800 rows x 8 columns]

In [830]:
#تابع ایزنال برای شناسایی مقادیر گمشده در دیتا فریم
#با صدا زدن سام روی نتیجه تعداد مقادیر گمشده در هر ستون محاسبه میشود
missing_values = df.isnull().sum()
print("تعداد مقادیر گمشده بعد از حذف مقادیر گمشده:\n", missing_values)

تعداد مقادیر گمشده بعد از حذف مقادیر گمشده:
 Area                 0
Perimeter            0
Major_Axis_Length    0
Minor_Axis_Length    0
Eccentricity         0
Convex_Area          0
Extent               0
Class                0
dtype: int64

Data Normalization

In [831]:
# یافتن ستون‌های غیر عددی
# select_dtypes
#برای انتخاب ستون‌ها بر اساس نوع داده آن‌ها استفاده می‌شود. با استفاده از این تابع، می‌توانیم ستون‌هایی را که نوع داده آن‌ها با یک نوع خاص سازگار نیست، انتخاب کنیم
# exclude=np.number
# این پارامتر به سلکت تایپ میگوید که که ستون‌هایی را که نوع داده آن‌ها عددی نیست، انتخاب کند 
# .columns
# پس از استفاده از سلکت تایپ متغیر بازگشتی آن یک ایندکس از نام ستون های منتخب است 
# ولی با ایثن دستور میتوانیم لیستی از نام های ستون های غیر عددی را دریافت و در متغیر زیر ذخیره کنیم

non_numeric_columns = df.select_dtypes(exclude=np.number).columns

# جدا کردن ستون‌های عددی از داده‌ها
# و ذخیره کردن این ستون های عددی در متغیر زیر
numeric_data = df.select_dtypes(include=np.number)

# محاسبه میانگین هر ستون عددی
mean = numeric_data.mean()

# محاسبه انحراف معیار هر ستون عددی
std = numeric_data.std()

# نرمال‌سازی داده‌ها با استفاده از میانگین و انحراف معیار محاسبه شده
# این کار باعث می‌شود تا داده‌ها در هر ستون عددی، با مقیاس مشابه قرار بگیرند 
normalized_data = (numeric_data - mean) / std


# ایجاد دیتا فریم جدید با داده‌های نرمال‌سازی شده و ستون‌های غیر عددی
# از کانکت برای ادغام دیتا فریم ها استفاده شده
#اکسیس وان به تابع کانکت میگوید که ادغام را بر اساس ستون ها انجام دهد  

normalized_df = pd.concat([normalized_data, df[non_numeric_columns]], axis=1)
print("داده‌های نرمال‌سازی شده:", normalized_df)

داده‌های نرمال‌سازی شده:           Area  Perimeter  Major_Axis_Length  Minor_Axis_Length  Eccentricity  \
0    -2.958318  -2.396398          -1.456465          -4.684478      2.134477
1    -2.383581  -1.847896          -0.934211          -4.017995      2.080478
2    -2.795428  -2.281369          -1.507618          -3.979491      1.608443
3    -1.952673  -1.130182          -0.296822          -3.751161      2.338968
4    -2.731889  -2.576009          -1.944979          -3.565882      0.865141
...        ...        ...                ...                ...           ...
3812  3.258082   2.365340           1.928618           3.471379     -0.391920
3813  2.733020   1.897890           1.275094           3.498140     -1.109605
3814  3.604657   2.456621           2.196375           3.604875     -0.224813
3815  3.047248   2.039899           1.448821           3.708735     -1.067463
3826 -1.775920  -1.611290          -0.963626          -2.455280      0.987136

      Convex_Area    Extent     Class
0       -2.947662  1.223219  Osmancik
1       -2.405933  0.951369  Osmancik
2       -2.783229  1.395226  Osmancik
3       -1.979644 -2.081906  Osmancik
4       -2.746626 -0.689617  Osmancik
...           ...       ...       ...
3812     3.247315 -0.485637    Cammeo
3813     2.692633  0.293946    Cammeo
3814     3.458488  1.840060    Cammeo
3815     3.020937  0.057264    Cammeo
3826    -1.797191  1.745856  Osmancik

[3800 rows x 8 columns]

In [832]:
print("میانگین هر ستون (بعد از نرمال‌سازی):")
print(normalized_data.mean())
print("\nانحراف معیار هر ستون (بعد از نرمال‌سازی):")
print(normalized_data.std())

میانگین هر ستون (بعد از نرمال‌سازی):
Area                -4.786814e-16
Perimeter            4.487638e-16
Major_Axis_Length   -5.983518e-16
Minor_Axis_Length   -2.991759e-16
Eccentricity        -6.611787e-15
Convex_Area         -5.385166e-16
Extent              -2.505598e-16
dtype: float64

انحراف معیار هر ستون (بعد از نرمال‌سازی):
Area                 1.0
Perimeter            1.0
Major_Axis_Length    1.0
Minor_Axis_Length    1.0
Eccentricity         1.0
Convex_Area          1.0
Extent               1.0
dtype: float64

# Processing

Getting input

In [833]:

# ورودی گرفتن داده جدید
# یک دیکشنری خالی به نام نیو دیتا ایجاد میشود برای ذخیره ویژگی ها و مقادیر مربوطه آن ها
# یک حلقه فور ایجاد میشود که بر روی ستون های نامریک دیتا حرکت میکند
# برای هر ستون عددی یک ورودی از کاربر گرفته میشود و با استفاده از اینپوت مقدار ویژگی را کاربر وارد میکند
# و با فلوت آن را به عدد اعشار ی تبدیل میکنیم 
# مقدار ویژگی وارد شده توسط کاربر را در نیو دیتا ذخیره میکنیم 
# کلید دیکشنری برابر با نام ویژگی و مقدار آن برابر با ورودی کاربر و ولیو است
new_data = {}
for feature in numeric_data.columns:
    value = float(input(f"مقدار ویژگی {feature}: "))
    new_data[feature] = value

# تبدیل داده جدید در دیکشنری نیو دیتا به یک دیتا فریم
new_data = pd.DataFrame(new_data, index=[0])

# نرمال‌سازی داده جدید با استفاده از میانگین و انحراف معیار ویژگی‌ها
normalized_new_data = (new_data - mean) / std
print("داده جدید نرمال‌سازی شده:")
print(normalized_new_data)

داده جدید نرمال‌سازی شده:
       Area  Perimeter  Major_Axis_Length  Minor_Axis_Length  Eccentricity  \
0 -1.882203  -1.307207          -0.531819          -3.394712      1.928894

   Convex_Area    Extent
0    -1.900243  1.916104

Modelling

In [834]:
# تعداد همسایه‌های نزدیک
#مقدار کا تعیین میکند که چند همسایه نزدیک برای پیش بینی کلاس داده جدید استفاده شود
k = 101

# محاسبه فاصله اقلیدسی بین داده جدید نرمال شده و تمام داده‌های قبلی نرمال شده
# linalg 
# مخفف Linear Algebra 
# و به عنوان یک زیرماژول در کتابخانه NumPy وجود دارد 
# این زیرماژول عملیات مربوط به جبر خطی را فراهم می‌کند، از جمله محاسبه ماتریس‌ها، بردارها، و عملیات ماتریسی.
# norm
# یک تابع در زیرماژول linalg 
# نرم یک بردار را محاسبه می‌کند. در اینجا، بردار مورد نظر برابر با تفاضل بین 
#  normalized_data و normalized_new_data.values[0] است.
# دو ماتریس از نوع دیتا فریم از هم کم میشوند
# این عملیات تفاضل عنصر به عنصر بین مقادیر متناظر در دو ماتریس را ایجاد می‌کند.
# normalized_new_data.values[0] 
# تابع values 
# به ما اجازه میدهد که مقادیر دیتا فریم را بصورت آرایه ای دریافت کنیم وبا استفاده از {0}
# مقدار یا ردیف اول داده جدید در آرایه را دریافت کنیم
# پارامتر axis=1 
# به np.linalg.norm 
# می‌گوید که محاسبه نرم بر روی محور دوم (ستون‌ها) انجام شود 
# ونتیجه را در متغیر دیستنس ذخیره کند
distances = np.linalg.norm(normalized_data - normalized_new_data.values[0], axis=1)

# مقادیر ستون کلاس از داده های اصلی نرمال شده را در آرایه کلاس ذخیره میکند
# با دات ولیو مقادیر ستون کلاس را بصورت یک آرایه دریافت میکنیم
Classes = normalized_df['Class'].values

# با استفاده از تابع آرگسورت فهرستی از شاخص ها بر اساس فاصله ها به ترتیب صعودی ایجاد میشود
# و این لیست تا اولین کا عنصر انتخاب میشود 
# این عناصر نشان دهنده شاخص های همسایه های نزدیکترین به داده جدید هستند
nearest_neighbors = np.argsort(distances)[:k]


'''
# اول این کد رو زده بودم
# این کد هم درسته
# ولی اصلاحی که کردم باعث شد حلقه فور نباشه و بهینه بشه

Osmancik = 0
Cammeo = 0
for neighbor in nearest_neighbors:
    neighbor_class = Classes[neighbor]
    if neighbor_class == 'Osmancik':
        Osmancik += 1
    else:
        Cammeo += 1
if Osmancik > Cammeo:
    print("Osmancik")     
else:
    print("Cammeo")
'''


# تابع یونیک برای یافتن مقادیر یکتا در یک آرایه 
# با استفاده از 
# Classes[nearest_neighbors]
# مقادیر کلاس‌های همسایگان نزدیکتر را از آرایه کلاس دریافت میکنیم
# return_counts=True
# تعداد تکرار هر مقدار یکتا در آرایه خروجی نیز دریافت می‌شود
# با جمع‌بندی، این خط کد مقادیر یکتا کلاس‌های موجود در مجاورت نزدیکترین همسایگان را در آرایه 
#unique_classes
# ذخیره می‌کند و تعداد تکرار هر کلاس را در آرایه 
#class_counts 
# ذخیره می‌کند. این اطلاعات می‌توانند برای تحلیل و بررسی توزیع کلاس‌ها در این مجاورت‌ها استفاده شوند.

unique_classes, class_counts = np.unique(Classes[nearest_neighbors], return_counts=True)

# با استفاده از تابع آرگماکس کلاسی که بیشترین تعداد تکرار را دارد انتخاب میکند
# این تابع برای یافتن اندیس بزرگترین مقدار در یک آرایه استفاده می‌شود
# unique_classes
# این متغیر نشان دهنده مقادیر یکتا کلاس‌های موجود در مجاورت نزدیکترین همسایگان است.
# class_counts
# این متغیر نشان دهنده تعداد تکرار هر کلاس در مجاورت نزدیکترین همسایگان است.
# اندیس بزرگترین مقدار در کلاس کانت را مشخص و با استفاده از یونیک کلسز ، کلاس متناظر با این اندیس را دریافت میکنیم
most_common_class = unique_classes[np.argmax(class_counts)]

print(most_common_class)

Osmancik